<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POS_Single.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <POS_Single.Properties.Settings>
            <setting name="POSTGRES_USER" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="POSTGRES_PASSWORD" serializeAs="String">
                <value>default</value>
            </setting>
            <setting name="POSTGRES_HOST" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="POSTGRES_DB_NAME" serializeAs="String">
                <value>postgres</value>
            </setting>
        </POS_Single.Properties.Settings>
    </userSettings>
</configuration>
